@font-face {
    font-family: "bj";
    src: url("/assets/bj.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Bangers-Regular";
    src: url("/assets/Bangers-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }  
  
  @font-face {
    font-family: "Gorditas-Regular";
    src: url("/assets/Gorditas-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }

* {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.body {
    width: 100%;
    min-width: 1368px;
    min-height: 700px;
    height: 100%;
    padding: 1rem;
    font-size: 12px;
    font-family: "Bangers-Regular";

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &::after {
      
      background-image: url("/assets/background.png");
      background-repeat: repeat;
      background-size: 800px;
      opacity: 0.1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;  
      content: "";
      min-width: 1368px;
      height: 100%;
      min-height: 700px;
    }
}

.main {
    position: relative;
    min-width: 1060px;
    min-height: 500px;
    z-index: 200;
}

.content {
  .cat {
    position: absolute;
    z-index: 300;
    top: -70px;
  }
  .bg-1 {
    background-image: url("/assets/kackdevcatmain.png");
    background-size: contain;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100%;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .bg-2 {
    background-image: url("/assets/showkackdev.png");
    background-size: cover;
    position: absolute;
    right: 0;
    bottom: 50px;
    width: 300px;
    height: 300px;
    opacity: 0.5;
  }
  
  filter: drop-shadow(2px 4px 6px black);
    position: absolute;
    border: 2px solid black;
    width: 100%;
    height: 100%;
    
    border-width: 3px 4px 3px 5px;
    border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
    transform: rotate(2deg);
    
    background-color: white;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.img-description {
  font-size: 20px;
  font-family: "Gorditas-Regular";
  position: absolute;
  left: 10px;
  top: 50px;
  width: 300px;
  max-height: 300px;
  overflow: hidden;
  text-align: end;
}

.img-container {
  width: 400px;
  height: 400px;
  overflow: hidden;
  cursor: pointer;

	margin: 0 12px 12px 0;
	padding: 4px;
	background-color: #e2b309;
	box-shadow: 2px 2px 6px #111;
  border-radius: 2px;
  
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 380px;
    height: 380px;
    filter: drop-shadow(2px 4px 6px black);
  }

  &:nth-child(2n+1) {
    transform: rotate(-2deg);
  }
  &:nth-child(3n+2) {
    transform: rotate(1deg);
  }
  &:nth-child(5n+3) {
    transform: rotate(-3deg);
  }
  &:nth-child(7n+5) {
    transform: rotate(6deg);
  }
  &:nth-child(11n+7) {
    transform: rotate(4deg);
  }
}

// center a absolute üpositioned element
/*.caption-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%) rotate(-2deg);
}*/

#modal {
  display: none;
  z-index: 500;
  width: 100%;
  height: 100%;
  background-color: white;
  position: relative;

  cursor: pointer;

  &.visible {
    display: flex;
  }

  .close {
    position: absolute;
    top: 2rem;
    font-size: 2rem;

    &:hover {
      text-decoration: underline;
    }
  }

  position: absolute;
  top: 0;
  left: 0;

  justify-content: center;
  align-items: center;
  img {
    max-width: 80%;
    max-height: 80%;

    box-shadow: 0px 0px 20px black;
  }
}

header {
  position: relative;
  z-index: 100;

  .main-caption {
    font-size: 30px;
    margin:15px auto 15px auto;
    padding:5px 5px;
    background:#ddd;
    border:1px solid #222;
    box-shadow:3px 3px 0 #222;
    width: 80%;
    position: relative;

    .herbert {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 300;
    }

    .herbert img {
      width: auto;
      height: 140px;
    }

    .text {
      font-size: 40px;
      width: calc(100% - 130px);
      padding: 20px 20px 5px 20px;
    }

    .impressum {
      font-size: 15px;
    }
  }

  .sub-caption {
    font-size: 20px;
    position: absolute;
    top: 10px;
    transform: rotate(-45deg) translateX(-250px) translateY(100px);
    width: 250px;
  
    .tags {
      margin-top: 10px;
      a {
        color: black;
        text-decoration: none;
        transition: color 0.5s ease-in-out;
  
        &:hover {
          color: blue;
        }
      }
    }
  
    .text {
      padding:5px 5px;
      background:#ddd;
      border:1px solid #222;
      box-shadow:3px 3px 0 #222;
    }
  }
}

.social-media {
    font-family: "bj";
    font-size: 30px;
    position: absolute;
    right: 0;
    top: 0;
    //ransform: rotate(2deg);
    margin:15px;
    padding:5px 5px;
    float:right;
    background:#fff;
    border:1px solid #222;
    box-shadow:3px 3px 0 #222;

    width: 100px;
    //height: 100px;
    z-index: 100;
}

.social-media a {
    color: transparent;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: rotate(2deg);
    margin:15px;
    padding:0 5px;
    float:right;
    background:#ddd;
    border:1px solid #222;
    box-shadow:3px 3px 0 #222;

    width: 90%;
    height: 50px;
    z-index: 100;
    margin-right: 50px;

    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icon-wrench:before {
    content: "";
  }
   .icon-phone:before {
    content: "";
  }
  .icon-twitter:before {
    content: "";
  }
 .icon-facebook:before {
    content: "";
  }
  .icon-github-circled:before {
    content: "";
  }
 .icon-envelope-open:before {
    content: "";
  }

 .icons *[class*=icon] {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    color: black;
    transition: color 0.5s ease-in-out;

    &:hover {
      color: blue;
    }
  }

  nav {
    position: absolute;
    bottom: 10px;

    a {
      color: black;
      text-decoration: none;
      transition: color 0.5s ease-in-out;
      
    }

    span:hover a {
      color: blue;
    }

    span {
      font-size: 25px;
    }

    .current {
      span {
        font-size: 30px;
        text-decoration: underline;
        vertical-align: middle;
      }
    }
  }