---
layout: base
pageTitle: Kack.dev - Drawings - Cars

pagination:
  data: collections.cars
  size: 2
---

    {%- for item in pagination.items %}
        <div class="img-container">
            <img src="{{ item.data.img }}">
        </div>
    {% endfor -%}