---
layout: base
pageTitle: Kack.dev - Drawings

pagination:
  data: testdata
  size: 2
testdata:
 - /images/1222424643908272128.jpg
 - /images/1222463228053270529.jpg
 - /images/1222582701905104901.jpg
 - /images/1222424643908272128.jpg
---

    {%- for item in pagination.items %}
        <div class="img-container">
            <img src="{{ item }}">
        </div>
    {% endfor -%}

    <nav aria-labelledby="my-pagination">
  <h2 id="my-pagination">This is my Pagination</h2>
  <ol>
    <li>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Previous</a>{% else %}Previous{% endif %}</li>
{%- for pageEntry in pagination.pages %}
    <li><a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>Page {{ loop.index }}</a></li>
{%- endfor %}
    <li>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Next</a>{% else %}Next{% endif %}</li>
  </ol>
</nav>