---
layout: base
pageTitle: Kack.dev - Drawings

pagination:
  data: collections.allimages
  size: 2
---

    {%- for item in pagination.items %}
        <div class="img-container">
            {% set imgUrl = item.data.img %}
            {% include "img.njk" %}
        </div>
    {% endfor -%}

