---
layout: base
pageTitle: Kack.dev - Drawings

pagination:
  data: collections.drawnimages
  size: 1
---
{% log pagination.items %}
    {%- for item in pagination.items %}
        <div class="img-container">
            {% set imgUrl = item.data.img %}
            {% include "img.njk" %}
        </div>
    {% endfor -%}

