---
layout: base
pageTitle: Kack.dev - Drawings - Cars

pagination:
  data: collections.test
  size: 1
---

    {%- for item in pagination.items %}
        <div class="img-container">
            {% set imgUrl = item.data.img %}
            {% include "img.njk" %}
        </div>
    {% endfor -%}