<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/index.css">
        
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:description" content="Kack.dev Cartoons" />
        <meta name="twitter:title" content="Eine Ode an den Entwickler" />
        <meta name="twitter:site" content="@JosefBiehler" />
        <meta name="twitter:image" content="https://kack.dev/assets/twittercard.jpg" />
        
        <title>Kack Dev</title>
    </head>
<body>

<div class="body">

<div id="modal">
    <div class="close">
    Schließen
    </div>
    <img src="">
</div>


        <div class="info">
            <div class="text">
                Das ist Herbert. Herbert ist ein Software-entwickler. Wer hätte das gedacht.
            </div>
<div class="herbert"><img src="/assets/herbert.png"></div>             
        </div>

       

    <!--<div class="kack-haufen"><img src="/assets/kack.png"></div>-->

<div class="main">

    <div class="social-media">
        <span class="icons">
            <a href="https://www.facebook.com/jodekadev" target="_blank"><i class="icon-facebook"></i></a>
            <a href="https://twitter.com/JosefBiehler" target="_blank"><i class="icon-twitter"></i></a>
            <a href="https://github.com/gabbersepp/" target="_blank"><i class="icon-github-circled"></i></a>
            <a href="mailto:contact@kack.dev"><i class="icon-envelope-open"></i></a>
        </span>
    </div>

<div class="header">
    <div class="caption">
    Für die tägliche Dosis an scheiß Entwicklercartoons
    </div>
    <div class="tags">
        {% for t in collections.allTags %}
             <a href="/{{ t }}/index.html">#{{t}}</a>
        {% endfor %}
    </div>
</div>


        <div class="content">

            {{ content | safe }}

                <nav>
  <ol>
    {% if pagination.href.previous %}<li><a href="{{ pagination.href.previous }}">&lt;&lt;&lt;</a></li>{% endif %}
    {% if pagination.href.next %}<li><a href="{{ pagination.href.next }}">&gt;&gt;&gt;</a></li>{% endif %}
  </ol>
</nav>
            
        </div>
    
        <footer><div>Josef Biehler</div><div>contact@kack.dev</div></footer>
    </div>

    <script>
        var imgs = document.querySelectorAll("img[class='clickable']");
        [...imgs].forEach(x =>x.addEventListener("click", () => {
            
            document.querySelector("#modal img").src = x.src;
            document.querySelector("#modal").classList.add("visible")
        }))
 
        document.querySelector("#modal").addEventListener("click", () => {
            document.querySelector("#modal").classList.remove("visible")
        });
    </script>

    </div>
</body>
</html>
