<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/index.css">
        
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:description" content="Cartoons aus dem Leben eines Entwicklers" />
        <meta name="twitter:title" content="Eine Ode an den Entwickler" />
        <meta name="twitter:site" content="@KackDev" />
        <meta name="twitter:image" content="https://kack.dev/assets/twittercard.jpg" />
        
        <link rel="shortcut icon" type="image/x-icon" href="/assets/icon/favicon.ico">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/icon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/assets/icon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/icon/favicon-16x16.png">

        <title>Kack Dev</title>
    </head>
<body>

<div id="modal">
    <div class="close">
    Schließen
    </div>
    <img src="">
</div>

<div class="body">

    <header>
        <div class="main-caption">
            <div class="text">
                Das ist Herbert. Herbert ist ein Softwareentwickler. Wer hätte das gedacht.
            </div>
            <div class="herbert"><img src="/assets/herbert.png"></div> 
            <div class="impressum">Josef Biehler | Buchäckerstr. 5 | 92648 | contact@kack.dev</div>
        </div>
        <div class="sub-caption">
           <div class="text">
            Für die tägliche Dosis an <br>scheiß<br> Entwicklercartoons
            </div>
            <div class="tags">
                {% for t in collections.allTags %}
                    {% set display = t %}

                    {% if 'alles' in t %}
                        {% set t = '' %}
                    {% else %}
                        {% set t = 'tags/' + t + '/' %}
                    {% endif %}
                    
                    <a href="/{{ t }}index.html">#{{display}}</a><br>
                {% endfor %}
            </div>
        </div>
    </header>






<div class="main">    
    <div class="social-media">
        <span class="icons">
            <a href="https://www.facebook.com/KackDev-104788297772739/" target="_blank"><i class="icon-facebook"></i></a>
            <a href="https://twitter.com/KackDev" target="_blank"><i class="icon-twitter"></i></a>
            <a href="https://github.com/gabbersepp/" target="_blank"><i class="icon-github-circled"></i></a>
            <a href="mailto:contact@kack.dev"><i class="icon-envelope-open"></i></a>
        </span>
    </div>

        <div class="content">
        <div class="cat"><img src="/assets/catkackdev.png"></div>
        
            <div class="bg-1">
            </div>

            {{ content | safe }}

            <div class="bg-2"></div>
            <nav>
                
                {% if pagination.href.previous %}
                    <span><a href="{{ pagination.href.previous }}">&lt;</a></span>
                {% endif %}
                {% set printBeginningDot = true %}
                {% set printEndingDot = true %}
                
                {% for pageEntry in pagination.pages %}
                    
                            {% if pagination.hrefs[loop.index0] == page.url %}
                                    <span class="current"><span>{{ loop.index }}</span></span>
                            {% elif (loop.index0 == 0 or loop.index0 == pagination.pages.length - 1) 
                                or pagination.hrefs[loop.index0 + 1] == page.url
                                or pagination.hrefs[loop.index0 - 1] == page.url %}
                                <span class="pageinate"><a href="{{ pagination.hrefs[loop.index0] }}">{{ loop.index }}</a></span>
                            {% else %}
                                {% if pagination.hrefs[loop.index0 + 2] == page.url and printBeginningDot == true %}
                                    {% set printBeginningDot = false %}
                                    <span class="dot">...</span>
                                {% elif pagination.hrefs[loop.index0 - 2] == page.url and printEndingDot == true %}
                                     {% set printEndingDot = false %}
                                     <span class="dot">...</span>
                                {% endif %}
                            {% endif %}
                    
                {% endfor %}
                {% if pagination.href.next %}
                    <span><a href="{{ pagination.href.next }}">&gt;</a></span>
                {% endif %}

            </nav>
            
        </div>
    <!--
        <footer><div>Josef Biehler</div><div>contact@kack.dev</div></footer>
        -->
    </div>

    <script>
        var imgs = document.querySelectorAll("img[class='clickable']");
        [...imgs].forEach(x =>x.addEventListener("click", () => {
            
            document.querySelector("#modal img").src = x.src;
            document.querySelector("#modal").classList.add("visible")
        }))
 
        document.querySelector("#modal").addEventListener("click", () => {
            document.querySelector("#modal").classList.remove("visible")
        });
    </script>

    </div>
</body>
</html>
